                      /*    ADMIN       */
/*------------------------------------------------------------*/
p{
    color:#830053;
    font-size:larger;
}


body h1 {
    color:#830053;
    text-align: center;
}

.texto_debajo_titulo {
    padding: 2rem;
    font-family:'Poppins', sans-serif;
    font-size: 1rem;
    color:#830053;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1vh;
}

.title{
    padding: 1.3rem;
}

.box h1{
    color:#830053;
    font-size:500%;
}

.container{
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
    max-width:600px;
    justify-content: center;
}

.box{
    background-color:rgba(255, 255, 255, 0.5);
    border-radius:10px;
    border-color:purple;
    padding:30px;
    margin:10px;
    width:250px;
    text-align:center;
}

footer{
    position: absolute;
    bottom: 0;
}

body{
    background-image: url("../images/admin_general/admin_panel1.jpg");
    background-repeat: no-repeat;
    background-size:100% 200%;
}

@media only screen and (max-width: 600px) {
    .container{
        max-width:9000px;  
    }
    .box{
        width:40%;
        height:5%;
    }
    .box h1{
        font-size:300%;
    }
    .box p{
        font-size:100%;
    }
    .texto_debajo_titulo {
        color:#830053;
        text-align: center;
        margin: 0 auto;
        font-size:20%;
    }
}

@media only screen and (max-width: 300px) {
    .container{
        max-width:400px; 
    }
    .box{
        width:28%;
        height:5%;
    }
    .box h1{
        font-size:300%;
    }
    .box p{
        font-size:100%;
    }
}