/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
/*                                                CSS - ADMIN PANEL                                                  */
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*/
/*---------------------------- BODY BACKGROUND ---------------------------*/

body{
    background: url("../images/admin_general/admin_panel1.jpg") no-repeat ;
    background-size: cover;
    height: 100%;
    overflow-x:hidden;
}
p {
    margin-bottom: 0px;
}
/*----------------------------------------------------------------------*/
/*------------------------------BIENVENIDA------------------------------*/

.apartado_bienvenida_admin{
    margin: 4rem 0.70rem 0.5rem 0.70rem;
    text-align: center;
}

.titulo_panel_admin{
    color: var(--color_principal);
    font-family: var(--fuente_titulo);
    font-size: 1.6rem;
    font-weight: bold;

}

.line_admin{
    margin: auto;
    width: 95%;
    height: 1px;
    background-color: var(--color_principal);
}

.texto_panel_admin{
    color: var(--color_principal);
    font-family: var(--fuente_texto);
    font-size: 1.15rem;
    margin: 1rem 2rem 1rem 2rem;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------STATS SLIDER---------------------------------------------------*/


#carouselExampleIndicators{
    margin: 0 auto;
    margin-top: 2rem;
    width: 75%;
    height: 47vh;
    z-index: 2;
}

/*--------------------------------------------------------------------------------*/
/*--------------------------ELEMENTOS DE DENTRO DEL SLIDER------------------------*/

.carousel-item{
    height: 47vh;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.6);
    padding:30px;
    text-align:center;
}

.carousel-inner{
    border-radius: 20px;
}

.stat_indicador{
    font-size: 22vh;
    font-family: var(--fuente_titulo);
    color: var(--color_principal);
    margin-top: 2rem;
}

.stat_texto{
    font-size: 4.5vh;
    font-family: var(--fuente_titulo);
    font-weight: bold;
    color: var(--color_principal);
    margin-top: -2.5rem;
}

.fa-eye{
    position: absolute;
    left: 10%;
}

/*--------Para eliminar un efecto hover que hace boostrap a los enlaces--------*/

a:hover{
    color: transparent;
}
a:active{
    color: transparent;
}

/*--------------------------------------------------------------------------------*/
/*------------------------------FLECHAS DEL SLIDER--------------------------------*/


.fa-angle-right, .fa-angle-left{
    color: var(--color_principal);
    font-size: 3rem;
}

/*--------------------------------------------------------------------------------*/
/*----------------------------INDICADORES DEL SLIDER------------------------------*/

.carousel .carousel-indicators li {
    background-color: #BD7695;
    opacity: 70%;
}

.carousel .carousel-indicators li.active {
    background-color: var(--color_principal);
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------STATS DESKTOP--------------------------------------------------*/

.stat_container{
    display: none;
    flex-direction: row;
    margin: 6vh 5vh 0 5vh;
}
.stat_box{
    width: 45%;
    height: 45%;
    background-color:rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 8vh;
    margin: 0 4rem 0 4rem;
    text-align:center;
}
.stat_box:hover {
    transform: scale(1.125);
}


/*----------------------------------------------------------------------*/
/*--------------------------------FOOTER--------------------------------*/

footer{
    position: inherit;
    bottom: 0;
    margin-top: 30%
}



/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
/*                                        MEDIA QUERY - PANEL ADMIN                                                  */
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- FORMATO DESKTOP -----------------------------------------------------*/

@media screen and (min-width: 800px){

    /*--------------------------CONFIGURACIÓN APARTADO BIENVENIDA--------------------------------*/

    .titulo_panel_admin{
        font-size: 2rem;
    }
    footer{
        margin-top: 10%;
    }

}


@media screen and (min-width: 1200px){

    /*-------------------------------CONFIGURACIÓN BACKGROUND-------------------------------------*/

    body{
        background: url("../images/admin_general/admin_panel1-desktop.jpg") no-repeat top ;
        background-size: cover;
    }

    /*--------------------------CONFIGURACIÓN APARTADO BIENVENIDA2--------------------------------*/

    .apartado_bienvenida_admin{
        margin: 5rem 1.3rem 1rem 1.3rem;
    }

    .titulo_panel_admin{
        font-size: 3rem;
    }

    .texto_panel_admin{
        color: var(--color_principal);
        font-family: var(--fuente_texto);
        font-size: 1.3rem;
        margin: 1.5rem 2rem 1rem 2rem;
    }

    /*--------------------CONFIGURACIÓN CAMBIO MODO VISUALIZAR ESTADISTICAS----------------------*/

    .stat_container{
        display: flex;
        margin-top: 5%;
    }

    #carouselExampleIndicators{
        display: none;
    }

    .stat_indicador{
        font-size: 12.5vh;
        margin-top: -3rem;
    }

    .stat_texto{
        font-size: 1.75rem ;
    }

    /*------------ICONO DE VISUALIZAR---------------*/
    .fa-eye{
        position: relative;
        left: -50%;
        top: -1rem;
    }

}

/*-------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------CONFIGURACIÓN EN OTROS FORMATOS---------------------------------------------*/

@media screen and (min-width: 900px){

    .line_admin{
        width: 90%;
    }

}
@media screen and (min-width: 1500px){

    .line_admin{
        width: 80%;
    }

    .stat_box{
        width: 25%;
        padding: 5vh;
    }

    .stat_indicador{
        font-size: 18.5vh;
    }

    .stat_texto{
        font-size: 2rem ;
    }

}

@media screen and (min-width: 1900px){
    .line_admin{
        width: 70%;
    }
}

@media screen and (min-width: 2100px){
    .line_admin{
        width: 55%;
    }
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
