/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
/*                                                 CSS - Common.css                                                  */
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/


/*---------------------------------- Variables ---------------------------------------*/
:root{

    /*--------------PATRÓN DE COLORES-------------*/

    --color_principal: #830053;
    --color_secundario: #4F0230;
    --color_negro: #333333;
    --color_blanco: white;
    --color_inputs-background:rgb(229, 217, 217, 47%);

    /*--------------------------------------------*/
    /*------------------FUENTES-------------------*/

    --fuente_titulo: 'Montserrat', sans-serif;
    --fuente_texto: 'Poppins', sans-serif;

    /*--------------------------------------------*/

}
/*-------------------------------------------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.encabezado {
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    background-color: #830053;
    background-image: url(../images/header2.jpeg);
    background-size: contain;
    background-attachment: fixed;
}
.fa-hand-holding{
    display: none !important;
}
.fa-info-circle{
    display: none !important;
}
.fa-users{
    display: none !important;
}
#usermenu{
    display: none !important;
}


/*-------------------------------- MENU --------------------------------*/
.encabezado ul {
    list-style: none;
    overflow: hidden;
}
.encabezado li a {
    display: block;
    padding: 20px 20px;
    border-bottom: 1px solid #830053;
    background-color: white ;
    color: #830053 ;
}
/*.encabezado li #color-login-btn:hover {
    background-color: #830053;
    color: white;
}

.encabezado li a:hover {
    background-color: #830053;
    color: white;
}*/

.encabezado .logo {
    float: left;
    padding: 5px 20px;
    margin: 1px;
}

.logo {
    width: 45%;
    max-width: 280px;
}

.encabezado .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    text-align: center;
    border-style: solid;
    border-color: transparent;
    margin-bottom: -6px;
}
.encabezado menu:active{
    transition: .2s ease-in-out 1s;
}
#iconomapainteractivo {
    width: 15%;
}

/*------------- menu icono ------------*/

.encabezado .menu-icon {
    cursor: pointer;
    float: right;
    padding: 8% 5%;
    user-select: none;
    transform: scale(1.6);
}

.encabezado .menu-icon .navicon {
    background: white;
    display: block;
    height: 1.7px;
    position: relative;
    transition: .2s ease-out;
    width: 20px;
}

.encabezado .menu-icon .navicon:before,
.encabezado .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.encabezado .menu-icon .navicon:before {
    top: 5px;
}

.encabezado .menu-icon .navicon:after {
    top: -5px;
}

/*------------- menu btn -------------*/

.encabezado .menu-btn {
    display: none;
}

.encabezado .menu-btn:checked ~ .menu {
    max-height: 300px;
}

.encabezado .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.encabezado .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.encabezado .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.encabezado .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.encabezado .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/*-------------------------------- Fin Menu --------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------*/
/*                                             BANNER DE LOS TITULOS                                                 */
/*-------------------------------------------------------------------------------------------------------------------*/

.banner {
    background-color: var(--color_principal);
    -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
    margin: -500px 0;
    padding: 0.5em 1em;
    width: 80%;
    color: var(--color_blanco);
    font-size: 20px;
    text-align: left;
    font-family: var(--fuente_titulo);
    font-weight: 300;
    margin-top: 8%;
    margin-bottom: 2vh;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*                                              Elementos del FOOTER                                                 */
/*-------------------------------------------------------------------------------------------------------------------*/
#footer {
    background: url(../images/footer.jpeg) no-repeat;
    background-size: cover;
    width: 100%;
}

#footertext{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    position: relative;
    text-align: left;
    color: #830053;
    padding: 5%;
}

/*---------------------------------------------------------------------*/
/*---------------------------- POPUP FORM -----------------------------*/
.popup-formulario {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    animation: anim .4s ease-in-out;
}

.box {
    border-radius: 20px;
    border: solid 1px #830053;
    background-color: white;
}

.cerrar-formulario {
    position: relative;
    top: -27px;
    right: -170px;
}

/*---------------- Header de la BOX ----------------*/
.popup-formulario #box-contacto #header-box #title{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #830053;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 2px;
}
.line {
    margin: auto;
    width: 85%;
    height: 4px;
    background-color: #830053;
}

.popup-formulario #box-contacto #header-box #intro-text{
    font-size: 14px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 8px;
}

/*------------------------------------------------------------------------------------------------*/
/*------------------------------------- MENSAJE CONFIRMACIÓN -------------------------------------*/
.popup-mensaje_confirmacion{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}
/*--------------------- Main BOX ------------------*/
.box_confirmacion {
    width:349px;
    height:625px;
    border-radius: 20px;
    border: solid 1px #4F0230;
    background-color: #4F0230;
    padding: 7px;
}
/*------------- Elementos BOX -------------*/
#box-confirmacion #content-confirm-box #title{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin: 90px 10px 50px ;
    padding: 10px;
}
#box-confirmacion #content-confirm-box #text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 8px;
}
/*------------- Boton cerrar -------------*/
#box-confirmacion #content-confirm-box #cerrar_confirmacion{
    color: #4F0230;
    font-size: 13px;
    padding: 17px 50px;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: #FFFAFA;
    display: inline-block;
    margin: 95px 200px 100px 95px;
}

/*--------------------------------------------------*/
/*----------------- Botón ENVIAR -------------------*/

.submit{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    width: 50%;
    padding: 15px 10px 15px;
    margin: 10px 0px 10px;
    display: inline-block;
    background-color: #830053;
    border: solid 1px #830053;
    border-radius: 5px;

}

.submit:hover{
    background: #660041;
    transform: scale(1.05);
    transition: 150ms;
}

.submit:active {
    background: #660041;
    transform: scale(1.06);
}

/*------------------------------------------------------------------------------------------------*/
/*-------------------------------FORMULARIO CONSULTA RESPONSIVE-----------------------------------*/

@media only screen and (max-width: 600px){
    .popup-formulario{
        align-content: space-around;
    }

    /*la linea de debajo de contactanos*/
    .linea_formulario{
        width: 80%;
        align-self: center;
    }
    .box {
        width: 80%;
        height: auto;
        word-wrap: break-word;
        align-content: space-around;
    }

    .cerrar-formulario {
        position: relative;
        right: -50%;
    }
}

/*------------------ANIMACION POPUP------------------*/
@keyframes anim {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*                                                 LISTADO DE ADMIN                                                  */
/*-------------------------------------------------------------------------------------------------------------------*/

.listado{
    width: 95%;
    margin: 0 auto;
}

/*-----------------------------------------------------------------------------------*/
/*---------------------------------HEADER - LISTADOS---------------------------------*/

.listado-header{
    background-color: #830053;
}

.listado_cliente{
    display: none;
    padding: 20px;
    text-align: left;
}

.listado_icono-cuenta{
    width: 15%;
    padding: 0px;
}

.listado_botones{
    width: 10%;
}


/*-----------------------------------------------------------------------------------*/
/*-------------------------------CONTENIDO - LISTADOS--------------------------------*/

.listado_contenido{
    overflow-x:auto;
}

/*-----------------------------------------------------*/
/*----------------ESTRUCTURA DE LA TABLA---------------*/

table{
    width:100%;
    table-layout: fixed;
}

th{
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-family: var(--fuente_titulo);
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td{
    padding: 1rem 1rem;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 18px;
    color: var(--color_negro);
    border-bottom: solid 1px rgba(255,255,255,0.3);
}

/*-----------------------------------------------------*/
/*------------------BOTONES LISTADO--------------------*/





/*-----------------------------------------------------*/
/*--------------------SCROLL TABLA---------------------*/

.scrollbar_table {
    position: relative;
    height: 60vh;
    overflow: auto;
}

.scrollbar_table::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.scrollbar_table::-webkit-scrollbar-thumb {
    background: #999999;
}

.scrollbar_table::-webkit-scrollbar-track {
    background: #e1e1e1;
}

.scrollbar_table::-webkit-scrollbar-track:hover,
.scrollbar_table::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}


/*-----------------------------------------------------*/
/*-------------AVISO DE NO EXISTE USUARIO--------------*/

#sin_resultados{
    display: none;
    font-family: var(--fuente_titulo);
    color: var(--color_principal);
    width: 100%;
    height: 100%;
}

#sin_resultados-texto1{
    font-family: var(--fuente_titulo);
    font-size: 5vh;
    color: var(--color_principal);
    font-weight: bold;
    margin-bottom: 0 ;
}

#sin_resultados-texto2{
    font-family: var(--fuente_titulo);
    font-size: 0.7rem;
    color: var(--color_principal);
}

.fa-user-alt-slash{
    margin-top: 1rem;
    color: var(--color_principal);
}



/*----ICONO DE CUENTA----*/
#user{
    color: var(--color_principal);
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*                                                    RESPONSIVE                                                     */
/*-------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 500px){
    .encabezado .menu-icon{
        padding: 50px 5%;
    }
}

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
@media (min-width: 48em) {
    #footertext {
        font-size: 15px;
        color: #830053;
        padding-top: 1.5%;
        padding-bottom: 2.5%;
    }
}
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
@media (min-width: 68em){
    .menu_icon{
        display: flex;
        background-color: #830053;
        color: white
    }
    .encabezado{
        background-size: cover;
        background-attachment: inherit;
    }
    .encabezado li {
        float: left;
    }
    .encabezado .menu {
        clear: none;
        float: right;
        max-height: none;
        margin-top: 1.6em;
        margin-bottom: 1em;
        margin-right: 0.5em;
        border-style: none;
    }
    .encabezado .menu-icon {
        display: none;
    }
    .logo {
        width: 20%;
    }
    .encabezado li a {
        padding: 10px 20px;
        background-color: #830053  ;
        color: white;
    }
    .encabezado .menu_icon:hover{
        color: #830053;
        background-color: white;
    }
    .encabezado .menu_icon:hover a{
        color: #830053;
        background-color: white;
    }
    encabezado li #color-login-btn:hover{
        color: #830053;
        background-color: white;

    }
    .headSection{
        padding-right: 5%;
        padding-left: 5%
    }
    .fa-hand-holding{
        display: block !important;
    }
    .fa-info-circle{
        display: block !important;
    }
    .fa-users{
        display: block !important;
    }
    #usermenu{
        display: block !important;
    }
    .fa, .fas {
        padding-top: 5%;
    }
}

    
    
    
    
    
    
    
    
    
    
    
    
   