/*-----------------------------------------------------------------------------------*/
/*                                  CSS-login.html                                   */
/*-----------------------------------------------------------------------------------*/
body {
    background: url(../images/login_page/login_form.jpg) no-repeat;
    background-size: cover;
    background-position-x: 60%;
}

header{
    background-color: white;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Montserrat', sans-serif !important;
    color: #830053;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2px;
}

.introtext{
    font-size: 14px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;
}

.textologin{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-left: 6vh;
    margin-bottom: 0.5vh;
}


/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/* MAIN BOX */

#login-form #box {
    margin-top: 12vh;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 19vh;
    display: flex;
    flex-direction: column;
    border-radius: 20%;
    box-shadow: 5px 8px 18px black;
}

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/* MAIN TEXT */

#login-form #box #box1 {
    margin-bottom: -5px;
    color: white;
    background-color: white;
    border: solid 1px black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/* FORM BOX */

#login-form #box #box2 {
    border: solid 1px;
    border-top-color: transparent;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    background-color: white;
}
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*PASSWD TEXT */

#login-form #box #box2 #olvidado {
    text-align: right;
    color: #830053;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-right: 40px;
}
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/* FORM INPUTS STYLING */

/*----------------- FIELDS -----------------*/
input[type=text], input[type=password]{
    width: 75%;
    padding: 6px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: rgb(229, 217, 217, 47%);
    border: solid 1px #830053;
}
/*------------------------------------------*/

/*-------------- SUBMIT BUTTON -------------*/
#login-form #box #box2 input[type=submit] {
    width: 50%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline-block;
    background-color: #830053;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    border: solid 1px #830053;
    border-radius: 5px;
}

#login-form #box #box2 input[type=submit]:hover {
    background-color: #520335;
    transition: 0.3s;
}

#loginError{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: red !important;
    font-weight: bold;
    margin-left: 29% !important;
    float: left;
}

.shakeAnimation {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
/*------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*HEADER STYLE*/

/*-----------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*------------------------------ MAIN BOX -----------------------------*/
.box {
    width: 43vh !important;
    height: 50vh !important;
    position: relative;
    top: -65px;
}

.line {
    margin: auto;
    width: 62%;
    color: #830053;
}
/*---------------------------------------------------------------------*/
/*----------------------- ELEMENTOS DE LA BOX -------------------------*/
/*---------------- HEADER DE LA BOX ----------------*/

.popup-mensaje_confirmacion {
    top: -20px !important; /* */
    left: 1px !important; /* */
}

.box_confirmacion{
    width: 40vh !important; /* */
    height: 49vh !important; /* */
}

/*------------- Elementos BOX -------------*/
#box-confirmacion #content-confirm-box #title{
    margin: 15px 0px 35px !important; /* */
}

/*------------- Boton cerrar -------------*/
#box-confirmacion #content-confirm-box #cerrar_confirmacion {
    margin: 30px 200px 100px 95px !important; /* */
}


/*Donde pone "Correo:"*/
.correo_formulario_olvidar{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 18px;
}
/*El texto de abajo del titulo"*/
.container_text_olvidar p {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/*El titulo de "¿Has olvidado tu contraseña?"*/
.titulo_olvidar {
    font-size: x-large;
    color: #830053;
    font-family: 'Montserrat', sans-serif;
}

/*Donde se escribe el correo*/
.colocar_correo_olvidar{
    width: 85% !important;
}

/*------------------ANIMACIONES------------------*/
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/*--------------------------------------------------*/
/*RESPONSIVE */


/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/