.boton {
    color: rgb(255, 255, 255) !important;
    font-size: 16px;
    line-height: 28px;
    padding: 12px;
    border-radius: 10px;
    font-family: var(--fuente_titulo);
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: #830053;
    display: inline-block;
    border-width: 0px;
    padding-left: 50px;
    padding-right: 50px;
    height: 7vh;
    width: 12vh;
    margin-bottom: 3vh;
    margin-left: 2vh;
    margin-right: 2vh;
}
#titulo1 {
    font-family: var(--fuente_titulo) !important;
    color: var(--color_principal);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}
.line {
    margin: auto;
    height: 1.2px;
    width: 80%;
    color: var(--color_principal);
    background-color: #830053;
}
#texto1 {
    font-family: var(--fuente_texto);
    color: black;
    text-align: center;
    font-size: 18px;
    word-spacing: 1px;
    margin-top: 20px;
}
.modal-header {
    display: block;
    border-color: transparent;
    justify-content: center;
}
.modal-content {
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 90%;
    margin: 0 auto;
}
.modal-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-top: transparent;
    border-top-width: initial;
    border-top-style: initial;
    border-top-color: transparent;
}
/* CONFIRMACION DE PANEL DE DAR DE BAJA */
#confirmacion_final .modal-content{
    background-color: #830053;
    color:white !important;
}
#confirmacion_final .modal-title{
    color:white !important;
}
#confirmacion_final #texto1{
    color:white !important;
}
#confirmacion_final .boton{
    margin:0 auto;
    padding:0;
    font-size:x-large;
}
