body {
    background: url(../images/login_page/login_form.jpg) no-repeat;
    background-size: cover;
    background-position-x: 60%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Montserrat', sans-serif !important;
    color: #830053;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2px;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #830053;
    text-align: center;
    font-size: 106.25%;
    word-spacing: 1px;
}

#botones{
    display: flex;
    justify-content: space-around;
}

.boton {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 28px;
    padding: 17px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: #830053;
    display: inline-block;
    margin-bottom: 10%;
}

.boton:hover {
    background: #77004b;
    transform: scale(1.05);
    transition: 150ms;
}

.boton:active {
    background: #660041;
    transform: scale(1.06);
}
