/*-------------------------------------------------------------------------------------------------------------------*/
/*                                                 CSS-Index.html                                                    */
/*-------------------------------------------------------------------------------------------------------------------*/
/*Aquí van las fonts, tamaños de letras y cosas principales*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 187%;
}

a {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 106.25%;
    text-decoration: none;
}

p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 106.25%;
    word-spacing: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*                                                 ALINEAR TEXTOS                                                    */
/*-------------------------------------------------------------------------------------------------------------------*/


section {
    text-align: center;
    height: 100vh;

}

div {
    text-align: center;
}

.justifyText {
    text-align: justify;
    word-spacing: -2px;
    

    margin-left: 35px !important;
    margin-right: 35px !important;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*                                                  COLORES                                                          */
/*-------------------------------------------------------------------------------------------------------------------*/

.blanco {
    color: white
}

.morado {
    color: #830053
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*                                             BANNER DE LOS TITULOS                                                 */
/*-------------------------------------------------------------------------------------------------------------------*/

.banner {
    background-color: #830053;
    -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
    margin: -500px 0;
    padding: 0.5em 1em;
    width: 80%;
    color: white;
    font-size: 17px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 7vh;
    margin-bottom: 2vh;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*                                                Estilo de los BOTONES                                              */
/*-------------------------------------------------------------------------------------------------------------------*/


/*-----------------------Botones morados-----------------------*/
.boton {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 28px;
    padding: 17px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: #830053;
    display: inline-block;
    margin-bottom: 10%;
}

.boton:hover {
    background: #77004b;
    transform: scale(1.05);
    transition: 150ms;
}

.boton:active {
    background: #660041;
    transform: scale(1.06);
}

/*-----------------------Botones blancos-----------------------*/
.boton2 {
    color: #660041;
    font-size: 15px;
    line-height: 24px;
    padding: 10px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-bottom: 10%;
}

.boton2:hover {
    background: rgb(255, 255, 255);
    transform: scale(1.05);
    transition: 150ms;
}

.boton2:active {
    background: rgb(255, 255, 255);
    transform: scale(1.06);
}
/*--------------------------------------------------------------*/
/*------------------ Botón de Ir Arriba/Abajo ------------------*/

.scrollBttn {
    background-size: cover;
    margin-bottom: 5vh;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.srollBttnUp {
    background-image: url("../images/landing_page/arrow-up_icon.png");
}

.srollBttnDown {
    background-image: url("../images/landing_page/arrow-down_icon.png");
}

.scrollBttn:hover {
    transform: scale(1.15);
    transition: 150ms;
}
/*--------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------*/
/*                                              Elementos del HEADER                                                 */
/*-------------------------------------------------------------------------------------------------------------------*/


.encabezado {
    background-image: url("../images/header.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
}

/*-------------------------------- MENU --------------------------------*/

.encabezado ul {
    list-style: none;
    overflow: hidden;
    background-color: white;
}

.encabezado li a {
    display: block;
    padding: 20px 20px;
    border-bottom: 1px solid #830053;
    color: #830053;
}

.encabezado li #color-login-btn:hover {
    background-color: #830053;
    color: white;
}

.encabezado li a:hover {
    background-color: #830053;
    color: white;
}

.encabezado .logo {
    float: left;
    padding: 5px 20px;
    margin: 1px;
}

.logo {
    width: 45%;
}

.encabezado .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    text-align: center;
    border-style: solid;
    border-color: transparent;
    margin-bottom: -6px;
}

/*------------- menu icono ------------*/

.encabezado .menu-icon {
    cursor: pointer;
    float: right;
    padding: 8% 5%;
    user-select: none;
    transform: scale(1.6);
}

.encabezado .menu-icon .navicon {
    background: white;
    display: block;
    height: 1.7px;
    position: relative;
    transition: .2s ease-out;
    width: 20px;
}

.encabezado .menu-icon .navicon:before,
.encabezado .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.encabezado .menu-icon .navicon:before {
    top: 5px;
}

.encabezado .menu-icon .navicon:after {
    top: -5px;
}

/*------------- menu btn -------------*/

.encabezado .menu-btn {
    display: none;
}

.encabezado .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.encabezado .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.encabezado .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.encabezado .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.encabezado .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.encabezado .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/*-------------------------------- Fin Menu --------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------*/
/*                                      Elementos de la PRIMERA SECCIÓN                                              */
/*-------------------------------------------------------------------------------------------------------------------*/

.call_to_action {
    background-image: url("../images/landing_page/landing_page1.jpg");
    background-size: cover;
    height: 93vh;
}

.call_to_action .fistText {
    margin-top: 8vh;
    margin-bottom: 5vh;
    margin-left: 10px;
    margin-right: 10px;
}

.call_to_action .secondText {
    margin-bottom: 5vh;
    margin-left: 40px;
    margin-right: 40px;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*                                       Elementos de la SEGUNDA SECCIÓN                                              */
/*--------------------------------------------------------------------------------------------------------------------*/

.mas_informacion {
    background-image: url("../images/landing_page/landing_page2.jpg");
    background-size: cover;
    font-size: 14px;
}

.mas_informacion .headSection{
    margin-bottom: 5vh;
    margin-left: 35px;
    margin-right: 35px;
}

.headSection{
    margin-bottom: 2vh !important;

}

.secondText{
    margin-left: 35px !important;
    margin-right: 35px !important;
}
/*------------- Margenes textos -------------*/
.mas_informacion p{
    margin-left: 2%;
    margin-right: 2%;
}

.objetivos p{
    margin-left: 2%;
    margin-right: 2%;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*                                            Elementos de la TERCERA SECCIÓN                                        */
/*-------------------------------------------------------------------------------------------------------------------*/


.informacion_web{
    background-image: url("../images/landing_page/landing_page3.jpg");
    background-size: cover;
    font-size: 14px;
}

#informacion_web #contenido_informacion_web #headSection{
    margin-top: 5vh;
    margin-bottom: 4vh;
    text-align: center;
}
#informacion_web #contenido_informacion_web #mapa_interactivo-apartado #texto1_información_web{
    margin-top: 3vh;
    text-align: center;
}
#informacion_web #contenido_informacion_web #grafico-apartado #texto2_información_web{
    margin-top: 3vh;
    margin-bottom: 2vh;
    text-align: center;
}


/*---------------------Iconos de la sección-------------------*/
#informacion_web #contenido_informacion_web #mapa_interactivo-apartado #iconomapainteractivo{
    width: 30%;
    height: 30%;
    margin-top: 3vh;
}
#informacion_web #contenido_informacion_web #grafico-apartado #iconografico{
    width: 30%;
    height: 30%;
    margin-top: 4vh;
}
/*-----------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------------------------------*/
/*                                          Elementos de la CUARTA SECCIÓN                                           */
/*-------------------------------------------------------------------------------------------------------------------*/


.acerca_de_nosotros {
    background-image: url("../images/landing_page/landing_page4.jpg");
    background-size: cover;
    font-size: 14px;
}

/*--- Colores de los iconos ---*/
.acerca_de_nosotros i {
    color: white;
}

.objetivos{
    margin-bottom: 5vh;
}
/*----------------------------*/

.acerca1 {
    
    margin-bottom: 4vh;

}

.acerca1 p {
    margin-left: 30px;
    margin-right: 30px;
}

.acerca1 i {
    margin-top: 3vh;
   
}

.datos_contacto {
    display: flex;
    
    justify-content: space-around;
    margin-bottom: 3vh;
}

.datos_contacto p {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.datos_contacto i:hover{
    transform: scale(1.15);
    transition: 0.3s;
}



/*-------------------------------------------------------------------------------------------------------------------*/
/*                                              Elementos del FOOTER                                                 */
/*-------------------------------------------------------------------------------------------------------------------*/


#footer {
    background: url(../images/footer.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#footertext{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px !important;
    position: relative;
    text-align: left !important;
    padding: 5%;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*                                       Estilo del FORMULARIO DE CONTACTO                                           */
/*-------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------*/
/*---------------------------- POPUP FORM -----------------------------*/

.popup-formulario-contacto{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    animation: anim .4s ease-in-out;

}
/*---------------- ANIMACION POPUP ----------------*/
@keyframes anim {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
/*---------------------------------------------------------------------*/
/*------------------------------ Main BOX -----------------------------*/

.box{
    width:349px;
    height:625px;
    border-radius: 20px;
    border: solid 1px #830053;
    background-color: #E8E8E8;
    padding: 7px;
}
/*---------------------------------------------------------------------*/
/*----------------------- Elementos DE LA BOX -------------------------*/

/* icono de cerrar formulario */
.cerrar-formulario{
    position: relative;
    top: -20px;
    right: -167px;

}
/*---------------- Header de la BOX ----------------*/
#formulario_contacto #box-contacto #header-box #title{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #830053;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 2px;
}
#formulario_contacto #box-contacto #header-box #line{
    margin-left: 25px;
    margin-right: 100%;

}
#formulario_contacto #box-contacto #header-box #intro-text{
    font-size: 14px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 8px;
}
/*--------------------------------------------------*/
/*------------ Contenido deL formulario ------------*/

/* Nombres de los campos */
label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: left;
    float: left;
    padding: 9px 5px 1px;
    margin-left: 12px;
}

/* Campos */
input {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 90%;
    height: 40px;
    padding: 6px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: rgb(229, 217, 217, 47%);
    border: solid 1px #830053;
}

/* Campo consulta */
textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 90%;
    height: 150px;
    padding: 6px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: rgb(229, 217, 217, 47%);
    border: solid 1px #830053;
    resize: none;
}
.cursiva{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
/*--------------------------------------------------*/
/*----------------- Botón ENVIAR -------------------*/

#formulario_contacto #box-contacto #content-form-box #enviar{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: white;
    width: 50%;
    padding: 10px;
    margin: 10px 0px 10px;
    display: inline-block;
    background-color: #830053;
    border: solid 1px #830053;
    border-radius: 5px;
}
#formulario_contacto #box-contacto #content-form-box #enviar:hover{
    background: #660041;
    transform: scale(1.05);
    transition: 150ms;
}

#formulario_contacto #box-contacto #content-form-box #enviar:active {
    background: #660041;
    transform: scale(1.06);
}

/*------------------------------------------------------------------------------------------------*/
/*------------------------------------- MENSAJE CONFIRMACIÓN -------------------------------------*/
.popup-mensaje_confirmacion{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}
/*--------------------- Main BOX ------------------*/
.box_confirmacion{
    width:349px;
    height:625px;
    border-radius: 20px;
    border: solid 1px #4F0230;
    background-color: #4F0230;
    padding: 7px;
}
/*------------- Elementos BOX -------------*/
#box-confirmacion #content-confirm-box #title{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin: 90px 10px 50px ;
    padding: 10px;
}
#box-confirmacion #content-confirm-box #text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 8px;
}
/*------------- Boton cerrar -------------*/
#box-confirmacion #content-confirm-box #cerrar_confirmacion{
    color: #4F0230;
    font-size: 13px;
    padding: 17px 50px;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: #FFFAFA;
    display: inline-block;
    margin: 95px 200px 100px 95px;
}

/*------------------------------------------------------------------------------------------------*/
/*-------------------------------FORMULARIO CONSULTA RESPONSIVE-----------------------------------*/

@media only screen and (max-width: 600px){
    .popup-formulario-contacto{
        align-content:space-around;
    }

    /*la linea de debajo de contactanos*/
    .linea_formulario{
        width:80%;
        align-self:center;
    }
    .box{
        width:80%;
        height:auto;
        word-wrap:break-word;
        align-content:space-around;
    }

    .cerrar-formulario{
        position: relative;
        right: -50%;
    }
}
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------------------------------*/
/*                                                Estilo de otros formatos                                           */
/*-------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------*/
/*-------------------- iPhone5 ---------------------*/

@media screen and (max-height: 640px){
    .call_to_action {

        height: 90vh;
    }
    section{

        height: 100vh;
    }
    h1 {
        font-size: 150%;
    }

    a {
        font-size: 80%;
    }

    p {
        font-size: 80%;

    }

    .justifyText{
        word-spacing: 1px;
    }


    .banner{
        margin-top: 4vh;
        font-size: 14px;
        width: 85%;
    }

    .boton{
        font-size: 14px !important;
        padding: 12px !important;
        margin-bottom: 5vh !important;
    }

    .call_to_action .fistText {

        margin-bottom: 5vh  !important;

    }

    .call_to_action .secondText {
        margin-bottom: 4vh;

    }

    #headSection{
        margin-top: 3vh;
    }

    .acerca1{
        margin-bottom: 1vh;
    }

    .acerca1 i {
        margin-top: 3vh;
        font-size: 7vh;

    }

    .boton2{
        font-size: 8px;
        line-height: 18px;
        padding: 10px;
    }
    .datos_contacto{
        margin-bottom: 1vh;
    }
}
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

