*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.sidebar{
    z-index: 201;
    position: fixed;
    left: -265px;  /**/
    width: 265px;
    height: 100%;
    background: #830053;
    transition: .3s;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 70px;
    font-size: 18px;
    color: white;
    padding-left: 25px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.sidebar header{
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 60px;
    font-family: 'Montserrat', sans-serif;
    background: #830053;
}

.sidebar footer{
    font-size: 18px;
    color: white;
    line-height: 60px;
    font-family: 'Montserrat', sans-serif;
    background: #830053;
    text-align: center;

}

.btn_logout{
    margin-bottom: 40vh;
}

.line {
    margin: auto;
    width: 85%;
    color: white;
}

ul li:hover a{
    padding-left: 25px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    margin-left: 10px;
    cursor: pointer;
    background: transparent;
    border-radius: 3px;
}

.menuIcon {
    left: 83%;
    top: 10px;
    font-size: 30px;
    color: white;
    padding: 6px 12px;
}

label #cancel{
    left: -83%;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 83%;
}

/*-------------------------------------------------------------------------------------------*/
/*----------------------------------CONTENIDO PANEL DE USUARIO-------------------------------*/
/*-------------------------------------------------------------------------------------------*/

.contenido_panel-usuario{
    position: relative;
}
/*-------------------- WIDGET FECHA/HORA -------------------*/
.widget_banner {
    background-color: #830053;
    -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
    padding: 0.5em 1em;
    width: 280px;
    color: white;
    font-size: 17px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 45px;
}

#widget_reloj-fecha{
    display: flex;
    position: absolute;
    z-index: 100;
}

#widget_reloj-fecha #reloj, #fecha{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
/*--------------------------- MAPA -------------------------*/
#map {
    height: 84vh;
    border: solid 1px black;
    z-index: 50;
}

#infow {
    padding: 30px;
    color: #830053;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

#infow .infobox{

    background-repeat: no-repeat;
    display:flex;
}

#infow li img{
    position: relative;
    float: left;
    width: 60%;
    margin: 5px;
}

#infow li{
    height: 7vh;
}

.medidas_numero{
    text-align: center;
    width: 55%;
    margin-top:12%;
    font-family: 'Montserrat', sans-serif;
}

.boton {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 28px;
    padding: 17px;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: #830053;
    display: inline-block;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-top: 10%;
    width: 80%;
    height: 8vh;
    text-align: center;
    padding-bottom: 10px;
}
.fa-chart-line{
    font-size: 4vh;
}

.grafica_panel{
    display: none;
    width: 85%;
    height: 85%;
    background-color: white;
    position: absolute;
    z-index: 101;
    margin: 10% 8%;
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------FOOTER------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

footer{
    position: absolute;
    bottom: 0;
    z-index: 200;
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/


