*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    z-index: 201;
}

.sidebar header{
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 60px;
    font-family: 'Montserrat', sans-serif;
    background: #830053;
}

.sidebar footer{
    font-size: 18px;
    color: white;
    line-height: 60px;
    font-family: 'Montserrat', sans-serif;
    background: #830053;
    text-align: center;
}

.line {
    margin: auto;
    width: 85%;
    color: white;
}

ul li:hover a{
    padding-left: 25px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    margin-left: 10px;
    cursor: pointer;
    background: transparent;
    border-radius: 3px;
}

.menuIcon {
    left: 83%;
    top: 10px;
    font-size: 30px;
    color: white;
    padding: 6px 12px;
}

label #cancel{
    left: -83%;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 83%;
}

/*-------------------------------------------------------------------------------------------*/
/*----------------------------------CONTENIDO PANEL DE USUARIO-------------------------------*/
/*-------------------------------------------------------------------------------------------*/

.contenido_panel-usuario{
    position: relative;
}

/*-------------------- WIDGET FECHA/HORA -------------------*/

.widget_banner {
    background-color: #830053;
    -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
    padding: 0.5em 1em;
    width: 280px;
    color: white;
    font-size: 17px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 45px;
}

#widget_reloj-fecha{
    display: flex;
    position: absolute;
    z-index: 100;
}

#widget_reloj-fecha #reloj, #fecha{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

/*--------------------------- MAPA -------------------------*/

#map {
    height: 84vh;
    border: solid 1px black;
    z-index: 50;
}

#infow {
    padding: 30px;
    color: #830053;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

#infow .infobox{

    background-repeat: no-repeat;
    display:flex;
}

#infow li img{
    position: relative;
    float: left;
    width: 60%;
    margin: 5px;
}

#infow li{
    height: 7vh;
}

.medidas_numero{
    text-align: center;
    width: 55%;
    margin-top:12%;
    font-family: 'Montserrat', sans-serif;
}

.fa-chart-line{
    font-size: 4vh;
}

.grafica_panel{
    display: none;
    width: 85%;
    height: 85%;
    background-color: white;
    position: absolute;
    z-index: 101;
    margin: 10% 8%;
}

/*---------------------------DROPUP-------------------------*/
.dropup{
    width: 100%;
    position: relative;
    bottom: 0;
    
}
.btn-secondary{
    background-color: var(--color_principal);
    border-color: var(--color_principal);
    border-radius: initial;
}

.btn-secondary:hover{
    background-color: #5E063B;
    border-color: #5E063B;
    border-radius: initial;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #5E063B;
    border-color: #5E063B;
    border-radius: initial;
}

.dropdown-toggle{
    width:fit-content !important;
}

.line2{
    border-left: 3px solid var(--color_principal);
    height: 50px;
}

.dropdown-menu{
    width: 100%;
}

.dropdown-item{
    display: flex;
}

.dropdown-menu{
    transform: translate3d(-5px, -110px, 0px) !important;
}

#nsens{
    color: var(--color_principal);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#mterr{
    color: var(--color_principal);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.num{
    margin-top: 10px !important;
    margin: 0 auto;
    font-size: 26px;
}

.texto{
    margin: 0 auto;
    font-size: 12px;
}


/*---------------------------PANEL CERRAR SESIÓN-------------------------*/

.modal-content{
    border-radius: 20px;
}

#titulo1{
    font-family: 'Montserrat', sans-serif !important;
    color: #830053;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.modal-header{
    display: block;
    border-color: transparent;
    justify-content: center;
    
}

.line {
    margin: auto;
    width: 62%;
    color: #830053;
}

#texto1{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    font-size: 18px;
    word-spacing: 1px;
    margin-top: 20px;
}

.modal-footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-top: transparent;
}

.boton {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 28px;
    padding: 12px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: #830053;
    display: inline-block;
    border-width: 0px;
    padding-left: 50px;
    padding-right: 50px;
    height: 6vh;
    margin-bottom: 3vh;
}

.boton:hover {
    background: #77004b;
    transform: scale(1.05);
    transition: 150ms;
}

.boton:active {
    background: #660041;
    transform: scale(1.06);
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------FOOTER------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

footer{
    position: absolute;
    bottom: 0;
    z-index: 200;
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

/* GMAP INFOWINDOW/POPUP - CLOSE BUTTON */
button.gm-ui-hover-effect {
    background: url(../images/landing_page/close_icon3png.png) no-repeat !important;
    background-size: contain !important;
    margin-top: 5% !important;
    padding-right: 20% !important;
}
    
button.gm-ui-hover-effect img {
    display: none !important;
}