+/*EL FORMULARIO DE CONSULTA */
    /*--------------------------*/

.conjunto{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    max-width: 45%;
    min-width: 370px;
}

.box{
    border-radius: 15px !important;
}


body h1{
    text-align: center;
    padding: 1.5rem;
    color: #830053;
}

h1{
    font-family: 'Montserrat', sans-serif;
}
.texo_debajo{
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.7rem;
    font-size: 110%;
}

#content-consult-box{
    padding: 1.5rem;
}

p{
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    text-align: center;
    word-spacing: 1px;
}

#enviar{
    background-color: var(--color_principal);
    width: 50%;
    height: 50px;
    border: none !important;
    border-radius: 20px;
    margin: 1rem;
    text-decoration: none !important;
    max-width: 300px;

}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: left;
    color:black;
    float: left;
    padding: 9px 5px 1px;
    margin-left: 12px;
}

textarea{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 90%;
    height: 150px;
    padding: 6px 5px;
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(229, 217, 217, 47%);
    border: solid 1px #830053;
    resize: none;


}

a {
    color: white !important;
    text-decoration: none;
    font-size:3vh;
    width:20%;
}

.line{
    margin-top: -1.3rem;
}

/*SELECTOR DE CONSULTA EN EL FORMULARIO*/
#tipo_consulta{
    background-color: rgb(229, 217, 217, 47%);
    color: #830053;
    margin-top: 0.4rem;
    border: #830053;
}