


/*HEADER STYLE*/
#header {
    background: url(../images/header.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    top: -10px;
    left: -8px;
    width: 105%;
 }

 #header i{
    float: right;
    margin: 18px 25px;
    color: white;
 }

 #header i:hover{
    color: #ddd;
    transform: scale(1.05);
    transition: 0.4s;
 }
/*-------------- LOGO --------------*/
.logo{
    width: 35%;
    margin-left: 3vh;
    margin-top: 1vh;
    
}
/*----------------------------------*/

/*-------------- LOGO --------------*/
.close{
    width: 8%;
    height: 8%;
    float: right;
    margin-right: 2vh;
    margin-top: 2.5vh;
}

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

/*FOOTER STYLES*/

 #footer {
    background: url(../images/footer.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    bottom: -11px;
    left: -8px;
    width: 105%;
 }
canvas{
   border: none;
    border-top: none;
    border-bottom: none;
    width: inherit;
}
#grafica{
    background: var(--fondo);
}

 #footer p {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #830053;
    position: relative;
    left: 15px;
 }

@media screen and (min-width: 500px){
    body{
        background-position-x: 0px;
    }

    #header i{
        transform: scale(1.2);
        margin: 25px 30px 0 0 !important;
     }

     #header i:hover{
        transform: scale(1.4) !important;
     }

}
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

/*MAP STYLES*/
.map_graf{
    list-style: none;
    display: contents;
}

#map {
    margin-left: 10%;
    margin-right: 10%;
    height: 50vh;
    margin-bottom: 1em;
    border-bottom-left-radius:0.75rem; 
    border-bottom-right-radius:0.75rem; 
    border: 1px solid gray;
    border-top: none;
}
ul{
  list-style: none;
    display: contents;  
}